html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.about-section {
    padding: 32px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: url(../images/phoebanner.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 10px 10px 0 1000px rgb(0, 0, 0, 0.8);
    min-height: 700px; /* Use min-height for responsiveness */
    /* margin: auto; */
}

.left_about {
    font-weight: bolder;
    margin: 32px 0; /* Adjust margin for responsiveness */
    color: #b1aaaa;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: var(--font-size);
    text-align: center; 
}

.about-text-content {
    display: flex;
    flex-direction: column; /* Adjust flex-direction for responsiveness */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

.about-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.about-title > span {
    position: relative;
    display: inline-block; /* Ensure the underline spans the entire text */
    margin-bottom: 12px; /* Add spacing between title and description */
}

.about-title span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #16E6B4;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}

.about-description {
    width: 100%; /* Ensure text takes full width */
    margin: 0 auto 32px; /* Add margin for spacing */
    color: #fef9f9;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .8px;
    line-height: 1.8rem;
    font-size: var(--font-size);
    text-align: justify;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        min-height: auto; 
        
    }

}
@media screen and (max-width: 800px) {
    .about-text-content{
        display: flex;
    }

}
